body {
  margin: 0;
} 
    header {
      background-color: navy;
      color: white;
      padding: 5px;
    }
    
    nav {
      display: flex;
      justify-content: center;
    }
    
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      font-size: 18px;
    }
    
    nav li {
      margin-right: 10px;
      color: white;
      position: relative;
    }
    
    a {
      color:white;
      text-decoration: none;
      padding:30px;
	font-weight: bold;
    }
    #a1 {
      color:red;
      text-decoration: none;
      padding:30px;
	font-weight: bold;
    }
    a:hover {
	color: #AA2222;
    }
    #a1:hover {
	color: #FF0000;
    }
    .submenu {
      display: none;
      position: absolute;
      background-color: navy;
      padding: 10px;
      top: 100%;
      left: 0;
      width:300px;
    }
    nav li:hover .submenu {
      display: block;
    }