body {
  margin: 0;
  background-color: #111111;
  color: white;
  font-family: sans-serif, arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: navy;
  color: white;
  padding: 1px;
  position:sticky;
  top:0;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 18px;
}

nav li {
  margin-right: 25px;
  margin-left: 25px;
  color: white;
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  background-color: navy;
  padding: 10px;
  top: 100%;
  left: 0;
  width: 300px;
}

nav li:hover .submenu {
  display: block;
}

footer {
  background-color: navy;
  color: lightgray;
  font-size: 11px;
  padding: 5px;
  margin-top: auto;
}

/*linki header*/
a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #AA2222;
}

/*link header wybrany*/
#a1 {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
#a1:hover {
  color: #FF0000;
}


/*Przycisk Pobierz*/
#pobierz {
  background-color: #990000;
  color: white;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: 2px solid black;
  font-weight: bold;
}
#pobierz:hover {
  background-color: #FF0000;
}

/*Przycisk Pobierz wyłączony*/
#pobierz_off {
  background-color: #aaaaaa;
  color: white;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  border: 2px solid black;
  font-weight: bold;
}


/*Lista zmian*/
#li1 {
  color: #ffaa88;
  font-size: 20px;
}
#ul1 {
  font-size: 20px;
}


/*Aktualnosci*/
.akt{
  margin: 0 auto 50px;
  width: 100%;
  max-width: 80%;
  border: 3px solid #443333;
  border-collapse:collapse;
  background: #111111;
  text-align:left;
}
.akt::after {
  content: "";
  clear: both;
  display: table;
}
.akt img {
	float: left;
	height:200px;
	margin: 10px;
}

.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Pokaż więcej';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Pokaż mniej';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #aa0000;
  line-height: 2;
  border: 1px solid #aa0000;
}